<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Etiqueta Fisica</title>
</head>

<body>
    <div class="container">
        <div class="a4">
            <div class="etiqueta">
                <div class="header">
                    <img src="./logo.svg" alt="logo">
                    <div class="line-vertical"></div>
                    <div class="remetente">
                        <span>Loja Várzea Grande</span>
                        <p>Av. Couto Magalhães, 1889, Centro-Norte,Várzea Grande - MT, CEP 78110400</p>
                    </div>
                </div>
                <div class="entrega">
                    <div class="line-horizontal"></div>
                    <div class="detalhes">
                        <img src="" alt="">
                        <h2>Detalhes da Entrega</h2>
                    </div>
                    <div class="info">
                        <div class="dados">
                            <span>Enviado pedido via:</span>
                            <p>Entrega - Lojas Grafitte - ELG</p>
                        </div>
                        <div class="dados">
                            <span>NP - (Número do pedido):</span>
                            <p>#78652317</p>
                        </div>
                    </div>
                </div>

                <div class="cliente">
                    <div class="line-horizontal"></div>
                    <div class="detalhes">
                        <img src="" alt="">
                        <h2>Dados cliente</h2>
                    </div>
                    <div class="info">
                        <div class="dados">
                            <span>Nome:</span>
                            <p>Alison Felipe da Silva Rodrigues</p>
                        </div>
                        <div class="dados">
                            <span>CPF:</span>
                            <p>046.264.841-90</p>
                        </div>
                        <div class="dados">
                            <span>E-mail:</span>
                            <p>alisonfelipeafsr@gmail.com</p>
                        </div>
                        <div class="dados">
                            <span>Celular:</span>
                            <p>(65) 9 9243-8102</p>
                        </div>
                    </div>
                </div>

                <div class="endereco">
                    <div class="line-horizontal"></div>
                    <div class="detalhes">
                        <img src="" alt="">
                        <h2>Endereço de Entrega</h2>
                    </div>
                    <div class="info">
                        <div class="dados">
                            <span>Endereço:</span>
                            <p>Rua Rondonópolis</p>
                        </div>
                        <div class="dados">
                            <span>Número:</span>
                            <p>18</p>
                        </div>
                        <div class="dados">
                            <span>Bairro:</span>
                            <p>Novo Mato Grosso</p>
                        </div>
                        <div class="dados">
                            <span>Cidade:</span>
                            <p>Várzea Grande</p>
                        </div>
                        <div class="dados">
                            <span>Estado:</span>
                            <p>MT</p>
                        </div>
                        <div class="dados">
                            <span>CEP:</span>
                            <p>78134-264</p>
                        </div>
                        <div class="dados">
                            <span>Complemento:</span>
                            <p>Próximo a Igreja Evangélica Assembléia de Deus</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>