*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100vw;
    background-color: #e7e7e7;
    display: flex;
    justify-content: center;
}

.container .a4 {
    width: 595px;
    height: 842px;
    background-color: #fff;
    padding: 20px;
}

.container .a4 .etiqueta {
    width: 235px;
    border: 1px solid black;
    border-radius: 8px;
}

.container .a4 .etiqueta .header {
    width: 235px;
    display: flex;
    justify-content: center;
    padding: 5px;
    margin-top: 5px;
}

.container .a4 .etiqueta .header img {
    width: 52px;
    padding: 2px;
}

.container .a4 .etiqueta .header .remetente {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.container .a4 .etiqueta .header .remetente span {
    font-size: 10px;
    font-weight: 700;
}

.container .a4 .etiqueta .header .remetente p {
    font-size: 8px;
    font-weight: 400;
    text-align: center;
}

.line-vertical {
    border-right: 1px solid black;
    margin: 0 5.9px;
}

.line-horizontal {
    border-bottom: 1px solid black;
}

.container .a4 .etiqueta .entrega, .cliente, .endereco {
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.detalhes {
    display: flex;
    flex-direction: row;
}
.detalhes h2 {
    font-size: 10px;
}

.info {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.info .dados {
    display: flex;
    flex-direction: row;
}

.info .dados span {
    font-size: 8px;
}

.info .dados p{
    font-size: 8px;
    font-weight: 800;
    margin-left: 5px;
}